<footer class="footer_wrap widget_area scheme_original">
            <div class="footer_wrap_inner widget_area_inner">
               <div class="content_wrap">
                  <div class="columns_wrap">
                     <aside id="woocommerce_products-2" class="widget_number_1 column-1_4 widget woocommerce widget_products">
                        <h5 class="widget_title">New Products</h5>
                        <ul class="product_list_widget">
                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/special-platinum-card/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/300-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/300-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/300-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Special Platinum Card</span>
                              </a>
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>300.00</span>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/special-gold-card/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/200-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/200-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/200-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Special Gold Card</span>
                              </a>
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>200.00</span>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/special-silver-card/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/100-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/100-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/08/100-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Special Silver Card</span>
                              </a>
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>100.00</span>
                           </li>
                        </ul>
                     </aside>
                     <aside id="woocommerce_products-3" class="widget_number_2 column-1_4 widget woocommerce widget_products">
                        <h5 class="widget_title">Sale Products</h5>
                        <ul class="product_list_widget">
                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/pink-model-car/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-5-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-5-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-5-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Wooden Block Set</span>
                              </a>
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>16.00</span>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/denim-parka/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-1-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-1-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-1-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Denim Parka</span>
                              </a>
                              <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>155.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>124.00</span></ins>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/modern-glasses/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-3-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-3-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/3-3-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Modern Glasses</span>
                              </a>
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                           </li>
                        </ul>
                     </aside>
                     <aside id="woocommerce_top_rated_products-2" class="widget_number_3 column-1_4 widget woocommerce widget_top_rated_products">
                        <h5 class="widget_title">Top Rated Products</h5>
                        <ul class="product_list_widget">
                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/colour-sandals/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/2-4-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/2-4-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/2-4-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Colour Sandals</span>
                              </a>
                              <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                              </div> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>77.00</span>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/blue-boys-jacket/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/8-2-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/8-2-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/8-2-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Blue Boys' Jacket</span>
                              </a>
                              <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                              </div> <del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>145.00</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>130.00</span></ins>
                           </li>

                           <li>
                              <a href="http://whiterabbit.axiomthemes.com/product/superman-boys-jumper/">
                                 <img width="180" height="180" src="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/4-2-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/4-2-180x180.jpg 180w, //whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/4-2-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px" /> <span class="product-title">Superman Boys' Jumper</span>
                              </a>
                              <div class="star-rating" title="Rated 5.00 out of 5"><span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                              </div> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>64.00</span>
                           </li>
                        </ul>
                     </aside>
                     <aside id="text-3" class="widget_number_4 column-1_4 widget widget_text">
                        <div class="textwidget">
                           <div id="sc_banner_755610212" class="sc_banner sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_controls sc_slider_nopagination sc_slider_images" data-old-width="270px" data-old-height="337px" data-interval="5055" style="height:337px;width:270px;">
                              <div class="slides swiper-wrapper">
                                 <div class="swiper-slide" style="background-image:url(http://whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/2-5.jpg);width:270px;height:337px;">
                                    <h1 class="sc_title sc_title_regular sc_align_center" style="margin-top:1.03em;margin-bottom:-0.13em;text-align:center;color:#ffffff;font-weight:400;font-size:6.42em;font-family:Pacifico;">Sale</h1>
                                    <h2 class="sc_title sc_title_regular sc_align_center" style="margin-bottom:0.18em;text-align:center;color:#ffffff;font-size:2.14em;">UP TO 500% OFF</h2>
                                 </div>
                                 <div class="swiper-slide" style="background-image:url(http://whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/1-5.jpg);width:270px;height:337px;">
                                    <h1 class="sc_title sc_title_regular sc_align_center" style="margin-top:1.03em;margin-bottom:-0.13em;text-align:center;color:#ffffff;font-weight:400;font-size:6.42em;font-family:Pacifico;">Sale</h1>
                                    <h2 class="sc_title sc_title_regular sc_align_center" style="margin-bottom:0.18em;text-align:center;color:#ffffff;font-size:2.14em;">UP TO 500% OFF</h2>
                                 </div>
                              </div>
                              <div class="sc_slider_controls_wrap">
                                 <a class="sc_slider_prev" href="#"></a>
                                 <a class="sc_slider_next" href="#"></a>
                              </div>
                           </div>
                        </div>
                     </aside>
                  </div>
                  <!-- /.columns_wrap -->
               </div>
               <!-- /.content_wrap -->
            </div>
            <!-- /.footer_wrap_inner -->
         </footer>
         <!-- /.footer_wrap -->
